<h3>Cart</h3>
<div class="cart-container">
  <div class="cart-panel">
    <h2>Total: $<span>{{totalCart | number: '1.0-2' }}</span></h2>

    <div class="cart-item" *ngFor="let item of items">
      <div class="cart-item-details " >
          <img src="{{item.url}}" alt="Photo of {{item.name}}" >
          <h2>{{item.name}}</h2>
          <h3>{{item.price}}</h3>
        <label>Amount: </label>
          <input type="number" class="select-input" value={{item.quantitity}} (change)="onChangeQuantitity($event, item.id)" min="1" required>
      </div>
    </div>

  </div>
  <div class="form-container">
    <form class="form-margin" (ngSubmit)="submitForm()">
        <label>Full name</label>
        <input type="text" name="fullname" [(ngModel)]="fullname">
      <br>
        <label>Adress</label>
        <input type="text" name="adress" [(ngModel)]="adress" >
        <br>
      <label>Credit card number</label>
      <input type="number" name="card" class="number-input" [(ngModel)]="card">
      <br>
      <input type="submit" value="submit">
    </form>
  </div>
</div>


