<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>$ {{ product.price }}</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="!prodIdRoute">
    <a routerLink="products/{{product.id}}">
      <mat-card-subtitle>More detail </mat-card-subtitle>
    </a>
  </div>
  <img mat-card-image src="{{product.url}}" alt="Photo of {{product.name}}">
    <p *ngIf="prodIdRoute" >{{product.description}}</p>
  <input type="number" class="select-input" value={{product.quantitity}} (change)="onChange($event)">
  <mat-card-actions>
    <button
      mat-flat-button color="primary"
      type="button"
      (click)="addItemToCart()"
      >Add to cart </button>
  </mat-card-actions>
</mat-card>
